*{
margin: 0;
padding: 0;
box-sizing: border-box;
}



html{
    font-family:'Montserrat', sans-serif;
}

header{
    left: 50px;
    right:0px;
    height: 100px;
    background-color:rgba(8, 11, 18, .5) ;
    position: fixed;

}



img{
    display: block;
    width: 100%;
}


header .upbar{
    left: 50px;
    right:0px;
    height: 100px;
    background-color:rgba(8, 11, 18, .5) ;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}


section.a{
    background-color: rgba(20, 25, 34, 1) ;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

div.leftbar{
    width: 50px;
    background-color: black;
    padding-top: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 400px;
    padding-bottom: 80px;
}

svg{
    fill: white;
    scale: 1.5;
}



div.upbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.upleft {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    gap: 30px;
}

div.upright {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px ;

}

.upright button{
    flex-basis: 200px;
    height: 40px;
    color: white;
    background-color: transparent;
    border:gray solid 1px ;
    border-radius: 30px;
    font-size: 13px;
    margin-right: 10px;
}

.middleleftbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    gap: 20px;
    width: 100%;

}

.sidew{
    display: flex;
    gap: 10px;
}

.sidew span{
   display: none;
}

.spot{
    scale: 2;
    margin-bottom: 10px;
}
.spotlg{
    top:-90px;
    scale: .8;
    display: none;

}

.home{
    margin-bottom: 5px;
}



.lens{
    opacity: .5;
}

.library{
  width: 15px;
  opacity: .5;

}

.playlist{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    gap: 10px;
}

.middleleftbar h3{
    color: white;
    margin-top: 20px;
    display: none;
}

.flexplus{
    display: flex;
    align-items: center;
    gap: 25px;
}

.flexplus span{
    padding-top: 7px;
    display: none;
}

.plus{
    opacity: .5;
    scale: 3;
    margin-left: 15px;
    margin-top: 10px;
    display: none;
}

.flexname{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    display: none;
}



.downleftbar{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

}

.circlea{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100px;
}

.circleb{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 100px;
}

.carrow{
    scale: .7;
}

.user{
    width: 15px;

}

.downleftbar hr{
    width: 80%;
    margin: 0 auto;
    opacity: .5;
    display: none;
}

.downleftbar h3{
   color: white;
   display: none;
}



.bgray{
    background-color: gray ;
}

nav{
    width: 100%;
    height: 100px;
    color: rgb(128, 128, 128, .8);
    margin-top: 100px;
    padding-left: 50px;
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    gap: 20px;
}

nav span{
    flex-basis: calc(100%/6) -20px;

}


.evi{
    border-bottom: 1px lime solid;
    

}

.middle{
    width: 100%;
    height: 900px;
    color: white;
    padding-left: 70px;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    overflow: auto;

}

.middle h1{
    font-size: 20px;
    margin-block: 20px;
    height: 20px;
}

.albums{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 10px;


}

.disco{
    flex-basis: calc(100% / 2 - 20px);

}

.imgdisco{
    position: relative;
}

.imgdisco svg{
    position: absolute;
    scale: 4;
    top: 50%;
    left: 50%;
    display: none;

}



.discob{
    flex-basis: calc(100% / 2 - 20px);
}



.wdisco{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    gap: 10px ;
}

span{
    color: rgb(128, 128, 128, .8);
    font-weight: 600;
}

.creatoper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    gap: 10px;

}

#nomarg{
margin-bottom: 10px;
}

.container{
    width: 100%;
}

.container span{
    font-size: 10px;
    color: rgb(128, 128, 128, .8);
}

.popolari{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    gap: 10px;

}


.round img{
    width: 100%;
    border-radius: 200px;
    object-fit: cover;
    aspect-ratio: 1;
}

div.downbar{
    width: 100%;
    height: 80px;
    background-color:#282828 ;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;


}


.sinister img{
    width: 40px;
}

.leftdownbar{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    
}

.wdownbar{
    display: flex;
    flex-direction: column;

}

.wdownbar h3{
    font-size: 12px;
    color: white;
}

.wdownbar span{
    font-size: 9px;

}

.heafol{
    display: flex;
    flex-direction: column;
}

.heafol svg{
    width: 60%;
    fill: rgb(128, 128, 128, .8);
}

.middledownbar{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.flexup{
    display: flex;
    gap: 20px;
}

.flexup svg{
    width: 10%;
    scale: .9;
}

#play{
    scale: 1.6;
}
.flexdown{
    position: relative;
    width: 100%;
}

.flexdown span#head{
    position: absolute;
    font-size: 9px;
    left: 18%;

}

.flexdown hr{
    position: absolute;
    display: inline-block;
    width: 5%;
    left: 30%;
    top:5px
}

.flexdown .green{
    position: absolute;
    display: inline-block;
    width: 5%;
    left: 30%;
    top:5px;
    border: 1px solid lime;
    display: none;
    
}

.dot{
    position: absolute;
    width: 10px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50px;
    left: 35%;
    top:1px;
    z-index: 2;
    display: none;
    
}

#hb{
    position: absolute;
    top: 13px;
    border: 1px solid rgb(128, 128, 128, .8);
    width: 35%;
    left: 35%;
    top:5px

}

.flexdown span#tail{
    position: absolute;
    font-size: 9px;
    right: 18%;
}

.rightdownbar{
    position: relative;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

}

.rightdownbar svg{
    scale: .8;
    fill:white;
}

.bar{
    display: flex;
    position: relative;
}

.bar hr{
    width: 10px;
}

.greenb{
    width: 10px;
    position: absolute;
    border: 1px solid lime;
    display: none;
    
}

.dotb{
    position: absolute;
    width: 10px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50px;
    left: 35%;
    top:-4px;
    z-index: 2;
    display: none;
}

#hc{
    width: 20px;
    border: 1px solid rgb(128, 128, 128, .8);
}







/* ---------------------Hover---------------------- */

svg:hover{
    opacity: 2;
    fill: white;
    cursor: pointer;
}

nav span:hover{
    color: white;
    cursor: pointer;
}

.leftbar span:hover{
    color: white;
    cursor: pointer;
}

div .sidew:hover{
    opacity: 2;
    cursor: pointer;
}

div.flexup svg:hover{
    scale:1.5;
}

div.flexup #play:hover{
    scale:2;
}

.rightdownbar svg:hover{
        scale:1.2;
}

.imgdisco:hover .show{
    display: block;
    cursor: pointer;
}

.imgdisco:hover .shadow {
    opacity: .2;
    cursor: pointer;
}


button:hover{
    scale: 1.1;
}

.disco:hover{
    cursor: pointer;
}

.disco:hover .shadow{
    opacity: .2;
    cursor: pointer;
}

.flexdown:hover .green{
    display: block;
    cursor: pointer;
}

.flexdown:hover .dot{
    display: block;
    cursor: pointer;
}

.bar:hover .greenb{
    display: block;
    cursor: pointer;
}

.bar:hover .dotb{
    display: block;
    cursor: pointer;
}








/* -------------------Media Queries---------------- */

@media screen and (min-width:639px) {
    div.leftbar{
        width: 250px;
        height: 100vh;
        background-color: black;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        padding-bottom: 80px;
    }

    .middleleftbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 100px;
        gap: 20px;
        width: 100%;
    
    }

    .downleftbar{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 10px;
    }


    .spot{
        scale: 2;
        margin-bottom: 10px;
        display: none;
    }
    .spotlg{
        scale: .8;
        display: block;
    
    }

    .sidew{
        display: flex;
        gap: 10px;
        padding-left: 25px;
    }

    .sidew span{
        display: inline-block;
     }

     .circlea{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 100px;
    }
    
    .circleb{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        width: 25px;
        aspect-ratio: 1;
        border-radius: 100px;
    }
    
    .carrow{
        scale: .7;
    }
    
    .user{
        width: 15px;
    
    }

    .middleleftbar h3{
        color: white;
        display: block;
    }

    .plus{
        opacity: .5;
        scale: 3;
        margin-left: 15px;
        margin-top: 10px;
        display: block;
    }

    .flexname{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        
    }

    .flexplus span{
        padding-top: 7px;
        display:block ;
    }


    .downleftbar hr{
        width: 80%;
        margin: 0 auto;
        opacity: .5;
        display: block;
    }

    .downleftbar h3{
        color: white;
        display: block;
     }

     nav{
        width: 100%;
        height: 100px;
        color: rgb(128, 128, 128, .8);
        margin-top: 100px;
        padding-left: 250px;
        padding-top: 20px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-weight: 700;
        gap: 20px;
    }
    .middle{
        width: 100%;
        height: 900px;
        color: white;
        padding-left: 270px;
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 700;
        overflow: auto;
    
    }

    div.downbar{
        width: 100%;
        height: 80px;
        background-color:#282828 ;
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
    }

    .leftdownbar{
        width: 23%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        scale: 1.5;
        
    }

    .middledownbar{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        scale: 1.5;
    }

    .rightdownbar{
        position: relative;
        width: 23%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        scale: 1.5;
    
    }

    

   
    
}

@media screen and (min-width:878px) {
    .disco{
        flex-basis: calc(100% / 4  - 20px);
    }

    .discob{
        flex-basis: calc(100% / 4 - 20px);
    }

    nav span{
        height: 30.5px;
    }
}

@media screen and (min-width:1440px) {
    .disco{
        flex-basis: calc(100% / 6  - 20px);
    }
    .discob{
        flex-basis: calc(100% / 6 - 20px);
    }
    
}

   

    


   


  

    

    






















