*{
margin: 0;
padding: 0;
box-sizing: border-box;
}



html{
    font-family:'Montserrat', sans-serif;
}

header{
    left: 50px;
    right:0px;
    height: 100px;
    background-color:rgba(8, 11, 18, .5) ;
    position: fixed;

}



img{
    display: block;
    width: 100%;
}


header .upbar{
    left: 50px;
    right:0px;
    height: 100px;
    background-color:rgba(8, 11, 18, .5) ;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}


section.a{
    background-color: rgba(20, 25, 34, 1) ;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

div.leftbar{
    width: 50px;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


div.downbar{
    width: 100%;
    height: 80px;
    background-color:#282828 ;
    position: absolute;
    bottom: 0;

}

svg{
    fill: white;
    scale: 1.5;
}



div.upbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.upleft {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    gap: 30px;
}

div.upright {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px ;
   
}



.upright button{
    flex-basis: 80%;
    height: 40px;
    color: white;
    background-color: transparent;
    border:gray solid 1px ;
    border-radius: 30px;
    font-size: 10px;
}

.middleleftbar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    gap: 20px;
    width: 100%;

}

.spot{
    position: absolute;
    top:-80px;
}

.home{
    position: absolute;
    top:-40px;
}


.lens{
    opacity: .5;
}

img.library{
    width: 25px;
    display: block;
    
}

.downleftbar{
    width: 100%;
    height: 200px;
    position: relative;
    top: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

}

.circlea{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100px;
}

.circleb{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 100px;
}

.carrow{
    scale: .7;
}

.user{
    width: 15px;
    
}

.bgray{
    background-color: gray ;
}

nav{
    width: 100%;
    height: 100px;
    color: rgb(128, 128, 128, .8);
    margin-top: 100px;
    padding-left: 50px;
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    gap: 20px;
}

nav span{
    flex-basis: calc(100%/6) -20px;
}

.middle{
    width: 100%;
    height: 515px;
    color: white;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    overflow: scroll;

}

.middle h1{
    font-size: 20px;
    margin-block: 20px;
    height: 20px;
}

.albums{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 10px;

    
}

.disco{
    flex-basis: calc(100% / 2 - 20px);
}

.wdisco{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    gap: 10px ;
}

.wdisco span{
    color: rgb(128, 128, 128, .8);
}

.creatoper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    gap: 10px;

}

#nomarg{
margin-bottom: 10px;
}

.container span{
    font-size: 10px;
    color: rgb(128, 128, 128, .8);  
}

.popolari{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    gap: 10px;

}


.round img{
    width: 100%;
    border-radius: 200px;
    object-fit: cover;
    aspect-ratio: 1;
}





